.padding-top-login {
    padding-top: 145px;
}

.padding-bot-login {
    padding-bottom: 255px;
}

input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box; /* para n acrescer o tamanho do padding */
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input {
    height: 30px;
}

input:focus, textarea:focus {
    border-color: rgb(208, 196, 8);
}

label {
    height: 100%;
    font-size: 20px;
    color: #333;
}