section.principal {
  width: 100%;
  height: 80px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.principal a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
}