.flash {
    width: 100%;
    padding: 10px 15px;
    top: 0px;
    left: 0;
    opacity: 0;
    display: inline-block;
    text-align: center;    
    font-size: 16px;
    line-height: 16px;    
    color: white;
}

.fade-in {
    animation: fadein 1s linear forwards;
}

.fade-out {
    animation: fadeout 1s linear forwards;
}

.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }

@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }