.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #131c2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
    display: inline-block;
    margin:0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color:white;
     cursor: pointer;
     text-align: center;
     box-sizing: border-box;
}

.button-prox{
  background: blue;
}

.button-jaAssisti{
  background: green;
}

#registrado{
  color: green;
}

#erro{
  color: red;
}

img{
  border-style: solid;
  border-color: orange;
}
