.banner{
    position: relative;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background: url('img/sakura.jpg') no-repeat center bottom / cover;
}


.banner .container{
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}
.banner:before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    background: -moz-linear-gradient(-45deg,  rgb(231, 186, 228) 0%, rgb(243, 242, 243) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(231, 186, 228,1) 0%,rgba(243, 242, 243,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(231, 186, 228,1) 0%,rgba(243, 242, 243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner h1{
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}

.banner p{
    font-size: 22px;
    line-height: 28px;
}

@media(max-width: 600px){
    .banner h1 {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .banner p {
        font-size: 12px;
        line-height: 14px;
    }

    .banner br {
        display: none;
    }
}