/* Button */
.button{
    display: inline-block;
    margin:0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color:white;
    /* animação do btn: propriedade, tempo, se quer q seja na ida ou volta e delay*/
     /*transition: background 0.2s ease-in-out 0s;*/
     transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
     cursor: pointer;
     text-align: center;
     box-sizing: border-box;
}

.button:hover {
    transform: scale(1.1);
}

.button-pastel{
    background: rgb(235, 112, 226);
}

.button-pastel:hover {
    background: rgb(209, 131, 209)
}
.button-pastel:disabled {
    background: #666;
}

.button-pastel:active {
    background: rgb(214, 167, 214);
}

@media(max-width: 400px) {
    .button {
        display: block;
        width: 100%;
    }
}