
.footer {
    padding: 20px 0;   
    position: relative;
    z-index: 3;
    background: rgb(248, 207, 245) 
}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: #e4e7ba;
}

.footer p {
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: white;
}

@media(max-width: 600px) {
    .footer nav {
        margin-left: -15px;
        margin-right: -15px;
    }
}