.bordaImage {   
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    background: #fff;    
}

.borda, .bordaImage {
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out 0s;
}

.borda {
    min-height: 550px;
    background: rgb(252, 229, 250);    
}

.borda:hover{
    transform: scale(1.2);
}

.bordaImage:hover {
    transform: scale(2.0)
}