/* Section */

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media(max-width: 600px) {
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    padding: 0 15px;
    float: left;    
    box-sizing: border-box;
}

.col-center {
    padding: 0 15px;
    float: none;    
    box-sizing: border-box;
}

.col-sm-25 {
    width: 25%;
}

.col-sm-33 {
    width: 33%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-66 {
    width: 66%;
}

.col-sm-75 {
    width:  75%;
}

.col-sm-100{
    width: 100%;
}
.article-image  {
    margin: 0 15px 10px 0;  
    border-radius: 15px;  
}

@media(min-width: 480px) {

    .col-md-50 {
        width: 50%;
    }
    
    .col-md-25 {
        width: 25%;
    }
    
    .col-md-33 {
        width: 33%;
    }

    .col-md-66 {
        width: 66%;
    }
    
    .col-md-75 {
        width:  75%;
    }
    
    .col-md-100{
        width: 100%;
    }
}

@media(min-width: 900px){
    .col-lg-25 {
        width: 25%;
    }
    
    .col-lg-33 {
        width: 33%;
    }

    .col-lg-50 {
        width: 50%;
    }
    
    .col-lg-66 {
        width: 66%;
    }

    .col-lg-75 {
        width:  75%;
    }
    
    .col-lg-100{
        width: 100%;
    }
    
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media (max-width: 479px){
    .show-on-sm {
        display: block;
    }
}

@media(min-width: 480px) and (max-width: 899px) {
    .show-on-md {
        display: block;
    }
}

@media(min-width: 900px){
    .show-on-lg {
        display: block;
    }
}