.App {
  text-align: center;
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px 2vmin);
  color: white;
  text-align: center;
}
  
.App-link {
  color: #61dafb;
}
  
.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}
  
.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes {
  margin-top: 30px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

.invisivel {
  visibility: hidden;
}