input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box; /* para n acrescer o tamanho do padding */
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input {
    height: 30px;
}

input:focus {
    border-color: #ec4141;
}

label {
    height: 100%;
    font-size: 20px;
    color: #333;
} 

.nomePkm {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset 5px 5px 8px rgba(0,0,0,0.5);
    background: green;
}

.alturaPkm, .pesoPkm{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 33%;
    height: 40px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset 5px 5px 8px rgba(0,0,0,0.5);
    background: whitesmoke;
}

.alturaPkm{
    left: 10%;
}

.pesoPkm{
    left: 24%;
}
