.pokedex, .pokedexFechada {
    background: #ec4141;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 30px;
    border-style: ridge;
    border-color: #666; 
}

.pokedex {
    height: 750px;
    width: 500px;
}

.pokedexFechada {
    height: 375px;
    width: 500px;
}

.pokedexPokeBola{
    background: black;
    display: inline-block;
    margin: 0 1em 1em 0;
    border-style: ridge;
    border-color: #666; 
}

.pokebolaTop,
.pokebolaBot, .pokebolaBotAlt {
  height: 120px;
  width: 240px;
  position: relative;
}

.pokebolaTopDentro,
.pokebolaBotDentro {
  height: 50px;
  width: 100px;
  position: relative;
  background: white;
    display: inline-block;
    margin: 0 1em 1em 0;
}

.pokebolaTop {
    top: 75px;
    border-top-left-radius: 240px;
    border-top-right-radius: 240px;
  }

.pokebolaTopDentro{
    top: 70px;
    left: 9px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}


.pokebolaBot {
    top: 58px;
    border-bottom-left-radius: 240px;
    border-bottom-right-radius: 240px;
}

.pokebolaBotAlt{
    top: 320px;
    left: -40px;
    border-bottom-left-radius: 240px;
    border-bottom-right-radius: 240px;
}

.pokebolaBotDentro{
    top: -1px;
    left: 9px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.rotateT, .rotateB {
    animation: 1s linear infinite rotate;
    position: relative;
  }

.rotateT{
    top: 120px * -1;
    transform-origin: 50% 100%;
}

.rotateB{
    top: 70px;
    transform-origin: 50% 0%;
}


@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

.tela {
    background: #ffffff;
    box-sizing: border-box;
    margin: 30px auto;
    height: 350px;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    border-style: ridge;
    border-color: #666; 
}

.borda {
    padding: 10px;
    border-radius: 15px;
    background: whitesmoke;
    border-radius: 15px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset 5px 5px 8px rgba(0,0,0,0.5);
    min-width: 200px;
    min-height: 200px;
}

span, h2, h3, ul, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style: none;
} 

span, ul {
    font-size: 20px;
}

.estouComSorte{
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset -5px -5px 8px rgba(0,0,0,0.5);
    background: #666;
    color: black;
}

.estouComSorte:active{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset 5px 5px 8px rgba(0,0,0,0.5);
    background: rgb(179, 177, 177);
}