/* Section */
body{
    background: beige;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    padding: 0 15px;
    float: left;    
    box-sizing: border-box;
}

.col-center {   
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;    
    box-sizing: border-box;
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: 33%;
}
.col-50 {
    width: 50%;
}

.col-66 {
    width: 66%;
}
.col-75 {
    width:  75%;
}

.col-100{
    width: 100%;
}
   
.hide {
    display: none;
}

.show {
    display: block;
}

.text-center{
    text-align: center;
}


.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.mt-3{
    margin-top: 30px;
}

.mb-3{
    margin-bottom: 30px;
}
