button{
    display: inline-block;
    margin:0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color:white;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button-normal{
    background: #A8A878;
}

.button-fight{
    background: #C03028;
}

.button-flying{
    background: #A890F0;
}

.button-poison{
    background: #A040A0;
}

.button-ground{
    background: #E0C068;
}
.button-rock{
    background: #B8A038;
}
.button-bug{
    background: #A8B820;
}
.button-ghost{
    background: #705898;
}
.button-steel{
    background: #B8B8D0;
}
.button-fire{
    background: #F08030;
}
.button-water{
    background: #6890F0;
}
.button-grass{
    background: #78C850;
}
.button-eletric{
    background: #F8D030;
}
.button-psychic{
    background: #F85888;
}
.button-ice{
    background: #98D8D8;
}
.button-dragon{
    background:#7038F8;
}
.button-dark{
    background: #705848;
}
.button-fairy{
    background: #EE99AC;
}

