/* Header */

.header{
    padding: 15px 0;
    background:  rgb(40, 44, 52);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 3;
}

.logo {
    padding: 10px;
    font-size: 25px;
    color: #d0c408;
    cursor: pointer;
    font-weight: 400;
    transform: translateZ(0);
    line-height: 22px;
}

.header a{
    color: #d0c408;
}