button, .btn-home{
    display: inline-block;
    margin:0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color:rgb(40, 44, 52);
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

button{
    padding: 10px 15px;

}

.btn-login, .btn-digital, .btn-home {
    background: rgb(208, 196, 8);
}

.btn-digital {
    margin-left: 10px;
}

.btn-home{
    height: 60px;
    width: 140px;
    line-height: 50px;
}