/* General */

body {
    color: rgb(40, 44, 52);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient (to right, rgb(84, 74, 125), rgb(255, 212, 82));
    background-image: linear-gradient(to right, rgb(84, 74, 125), rgb(255, 212, 82));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  
a, button, input, textarea {
    outline: none;
}
a {    
    text-decoration: none;    
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;    
}

nav li, 
nav a {
    display: inline-block;
}

nav a:not(.logo){
    padding: 10px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h1,
h2,
h3,
p{
    margin: 0 0 15px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

@media(max-width: 600px){
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    
    h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

.table, 
.table-cell{
    width: 100%;
    height: 100%;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.padding-top {
    padding-top: 10px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bot{
    padding-bottom: 20px;
}

.padding-bot-50{
    padding-bottom: 50px;
}

.center-horizontal{
    padding-left: 200px;
    padding-right: 200px;
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}

.fadeIn{
    opacity:1;
    width: 400px;
    height: 50px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.2s;
}

.fadeInInput{
    opacity:1;
    width: 100%;
    height: 100%;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.2s;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }