input, textarea {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box; /* para n acrescer o tamanho do padding */
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input {
    height: 30px;
}

input:focus, textarea:focus {
    border-color: #0f7afd;
}

label {
    height: 100%;
    font-size: 20px;
    color: #333;
}

@media(max-width: 600px){
    label {
        height: 100%;
        font-size: 15px;
        color: #333;
    }
}

textarea {
    min-height: 130px;
    min-width: 100%;
}

::-webkit-input-placeholder { /* Edge */
    color: #bbb;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
  }
  
  ::placeholder {
    color: #bbb;
  }
  
  iframe {
      width: 100%;
      height: 640px;
      border-radius: 4px;
      border: none;
  }

  @media (max-width: 479px){
      iframe {
          height: 100vh;
      }
  }