
.footer {
    padding: 20px 0;   
    position: relative;
    z-index: 3;
    background: black;    
}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: white;
}

.footer p {
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #999;
}

@media(max-width: 600px) {
    .footer nav {
        margin-left: -15px;
        margin-right: -15px;
    }
}