.borda {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
}  
.borda:hover {
transform: scale(1.1)
}