table{
    width:100%
}


td, th {
    background-color: rgb(40, 44, 52);
    color: #d0c408;
    border: 1px solid #dddddd;
    border-color: #d0c408;
    text-align: center;
    padding: 8px;
  }

  i, .voltar{
      cursor: pointer;
  }

  .padding-agencias{
      padding-bottom: 185px;
  }

  /* detalhes agência */

  .dados{
    color:  rgb(60, 66, 77);
  }

  .voltar{
      color: #d0c408;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }

  .voltar:hover {
    transform: scale(1.3)
}