.footer {
    position: relative;
    padding: 15px 0;   
    z-index: 3;
    background:  rgb(40, 44, 52);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: #d0c408;
}
/* 
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
} */

