

.bandeira {
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    
}

.finlandia {
    height: 300px;
    width: 491px;
}

.row-fin-tp-bt{
    height: 36%;
}

.row-fin-mid {
    height: 27%;
    background: #002f6c;
}

.col-fin-28 {
    width: 28%;
}

.col-fin-17 {
    width: 17%;
    background: #002f6c;
    display: block;
    height: 100%;
}

.japao {
    position: relative;
    height: 400px;
    width: 600px;
}

.col-jp {
    padding: 0 0;
    float: left;  
    width: 33%;
}

.japaoCentro {
    border-radius: 100px; 
    background: red;
    position: relative;
    height: 200px;
    width: 200px;
    top: 100px;
}

.alemanha {
    height: 300px;
    width: 500px;
}

.row-alemanha {
    height: 33%;    
}

.grecia {
    height: 360px;
    width: 540px;
}

.row-grecia-top {
    height: 55%;
}

.row-grecia-bot {
    height: 45%;
}

.row-grecia-linha {
    height: 40px;
}

.row-grecia-quadrado {
    height: 80px;
}

.col-grecia-linhas {
    width: 63%;
}

.col-grecia-quadro {
    width: 37%;
}

.azul-gre {
    background: #004C98;
}

.col-grecia-quadrado {
    width: 40%;
}

.col-grecia-cruz {
    width: 20%;
    background: white;
    height: 100%;
}

.libano {
    height: 400px;
    width: 600px;
}

.row-libano-mid {
    height: 200px;
}

.row-libano {
    height: 100px;
}

.libano-arvore{
    padding-left: 200px;
    height: 200px;
}



