.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.row {
    margin: 0 0;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    padding: 0 0;
    float: left;    
    box-sizing: border-box;
}

.col-100{
    width: 100%;
}

body {
    background: #f7dbd7;
}